
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display:ital,wght@0,500;0,600;0,900;1,400;1,500;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,500;0,600;0,900;1,400;1,500;1,600;1,900&display=swap');

/* Configuración general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos de elementos básicos */
  html {
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%; /* Establece el ancho al 100% del viewport */
    max-width: 100%; /* Asegúrate de que no se desborde el ancho del viewport */
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal si existe contenido que se desborda */
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  ul, ol {
    list-style: none;
  }
  
  /* Estilos de encabezados y párrafos */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
  }


  /* Estilos para los botones del carrusel */
.carousel .control-arrow::before {
  font-size: 25px;
  color: grey; /* Color de los botones grises */
  transform: rotate(45deg); /* Gira el icono para convertirlo en un rombo */
}

.carousel .control-next.control-arrow::before,
.carousel .control-prev.control-arrow::before {
  content: none; /* Oculta los botones de flecha predeterminados */
}

.carousel .carousel-status {
  display: none; /* Oculta el indicador de estado */
}

/* ajute del formulario para mobile */

@media (max-width: 765px) {
  form {
    height: 60vh; /* Altura ajustada para pantallas pequeñas */
  }
}

/* ajute del titulo del main para version mobile */

/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 768px) {
  .my-component h5 {
    font-size: 18px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }

  .my-component h4 {
    font-size: 24px; /* Tamaño de fuente más pequeño para pantallas pequeñas */
  }
}